$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$dark: #343a40;
$textLight: #f8f9fa;
$textDark: #343a40;
$textMuted: #6c757d;
$textWhite: #ffffff;

// $main: $primary;
// $text: $textWhite;

$main: $primary;
$text: $textWhite;

$sidebarWidth: 280px;
